<h1>Admin Dashboard</h1>
<p><%= link_to 'Logout', admin_root_path %></p>
<p><%= link_to 'Manage Adventurer Names', admin_adventurer_names_path %></p>
<p><%= link_to 'Manage Adventurer Templates', admin_adventurer_templates_path %></p>
<p><%= link_to 'Manage Monster Templates', admin_monster_templates_path %></p>
<p><%= link_to 'Manage Accounts', admin_accounts_path %></p>
<p><%= link_to 'Manage Quest Descriptions', admin_quest_descriptions_path %></p>
