<h1>Admin Dashboard - Sign in page</h1>

<%= form_tag('/sessions') do %>
    <%= hidden_field_tag :is_admin_page, true %>
    <p>
      Email:<br />
      <%= text_field_tag :email %>
    </p>
    <p>
      Password:<br />
      <%= password_field_tag :password %>
    </p>
    <p>
      <%= submit_tag 'Sign in' %>
    </p>
    <% session.delete(:admin_id) %>
<% end %>