<h1>Testing routes</h1>

<% @adventurers.each do |adventurer| %>
    <h2><%= link_to adventurer.state, adventurer %></h2>
    <p><%= adventurer.hp %>
      <%= adventurer.attack %>
      <%= adventurer.defense %>
    </p>
    <hr />
<% end %>

<p><%= link_to "Add a new adventurer", new_adventurer_path %></p>