<p id="notice"><%= notice %></p>

<h1>Listing Adventurer Names</h1>

<%= link_to 'New Adventurer name', new_admin_adventurer_name_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adventurer_names.each do |adventurer_name| %>
      <tr>
        <td><%= adventurer_name.name %></td>
        <!-- <td><%= link_to 'Show', admin_adventurer_name_path(adventurer_name) %></td> -->
        <td><%= link_to 'Edit', edit_admin_adventurer_name_path(adventurer_name) %></td>
        <td><%= link_to 'Destroy', admin_adventurer_name_path(adventurer_name), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
