<h1>Listing Adventurer Name</h1>

<p><%= link_to 'Logout', admin_root_path %></p>
<p><%= link_to 'Back to Dashboard', :controller => 'admin/dashboard', :action => 'index' %></p>
<p><%= link_to "New Adventurer Name", new_admin_adventurer_name_path %></p><br>


<%= datagrid_form_for @grid, :method => :get, :url => admin_adventurer_names_path %>

<%= paginate(@grid.assets) %>
<%# assets = @grid.assets.page(params[:page]) %>
<%= datagrid_table(@grid, :html => {:class => "table table-hover"}) %>
<%= paginate(@grid.assets) %>
