<p class="facilityAssign">
	<p>This is a {{name}} of level {{level}}. The current capacity is {{capacity}}.</p>
	<button type='button' class='btn btn-primary' onclick='GM.FacilityController.assign({{id}})'>Send adventurers to the {{name}}</button>
	<div id='alert'></div>
</p>
