<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>HP</th>
        <th>Energy</th>
        <th>Select</th>
      </tr>
    </thead>
	{{#each adventurers as |adventurer|}}
		<tr class='adventurer_row' id='{{id}}'>
			<td>{{name}}</td>
			<td>{{hp}}/{{max_hp}}</td>
			<td>{{energy}}/{{max_energy}}</td>
			<td>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="{{id}}" aria-label="...">
				  </label>
				</div>
			</td>
		</tr>
	{{/each}}
</table>