<%= form_for [:admin, @monster_template] do |f| %>
  <% if @monster_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster_template.errors.count, "error") %> prohibited this monster_template from being saved:</h2>

      <ul>
      <% @monster_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :max_hp %><br>
    <%= f.number_field :max_hp %>
  </div>
  <div class="field">
    <%= f.label :max_energy %><br>
    <%= f.number_field :max_energy %>
  </div>
  <div class="field">
    <%= f.label :attack %><br>
    <%= f.number_field :attack %>
  </div>
  <div class="field">
    <%= f.label :defense %><br>
    <%= f.number_field :defense %>
  </div>
  <div class="field">
    <%= f.label :invisibility %><br>
    <%= f.number_field :invisibility %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
