<p class="questAssign">
	Quest Description: {{description}}
	<ul>
		<li>This quest is {{state}}</li>
		<li>Difficulty: {{difficulty}}</li>
		<li>Reward: {{reward}}</li>
	</ul>

	<button type='button' class='btn btn-primary' onclick='GM.QuestController.assign({{id}})'>Send Adventurers to Quest!</button>
</p>