<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Description</th>
        <th>State</th>
        <th>Difficulty</th>
        <th>Reward</th>
        <th>Action</th>
      </tr>
    </thead>
	{{#each quests as |quest|}}
		<tr>
	        <td>{{description}}</td>
	        <td>{{state}}</td>
	        <td>{{difficulty}}</td>
	        <td>{{reward}}</td>
	        <td>
	        {{#isAssigned state}}
	        	<p></p>
	    	{{else}}
		        <button type='button' class='btn btn-primary' onclick='GM.QuestController.showAssign({{id}})'>Assign Adventurer</button>
		    {{/isAssigned}}
		    </td>
		</tr>
	{{/each}}
</table>