<div>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>HP</th>
        <th>Energy</th>
    	<th>Attack</th>
    	<th>Defense</th>
    	<th>Vision</th>
    	<th>Choose</th>
      </tr>
    </thead>
	{{#each adventurers as |adventurer|}}
		{{#isAssigned state}}
		{{else}}
		<tr>
			<td>{{name}}</td>
			<td>{{hp}}/{{max_hp}}</td>
			<td>{{energy}}/{{max_energy}}</td>
			<td>{{attack}}</td>
			<td>{{defense}}</td>
			<td>{{vision}}</td>
			<td>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="{{id}}" aria-label="...">
				  </label>
				</div>
			</td>
		</tr>
		{{/isAssigned}}
	{{/each}}
</table>
</div>